
body#global_page_user-profile-index .profile_fields.integration{
	display: none;
}
#discogs :empty{
	display: none;
}
#discogs .thumbnail{
	float: left;
	display: inline;
	margin-right: 30px;
}
.discogs_release{
	min-height: 90px;
	margin-bottom: 30px;
}
.discogs-pagination{
	position: relative;
	width: 400px;
	height: 40px;
}
.discogs-pagination div{
	position: absolute;
}
.discogs-pagination .first{
	left: 0;
}
.discogs-pagination .prev{
	left: 25%;
}
.discogs-pagination .next{
	left: 50%;
}
.discogs-pagination .last{
	left: 75%;
}

.discogs_release .title{
	font-weight: bold;
	padding-left: 120px;
}

.discogs_release .label,
.discogs_release .role{
	position: relative;
	padding-left: 180px;
}

.discogs_release .role::before,
.discogs_release .label::before{
	position: absolute;
	left: 120px;
}

.discogs_release .label::before{
	content: 'Label:';
}

.discogs_release .role::before{
	content: 'Role:';
}
.discogs_release .discogs_url{
	font-size: 12px;
	font-style: italic;
	padding-left: 120px;
}
.discogs_release .all-data{
	font-size: 10px;
}